!!!
%html{ lang: 'en' }
  %head
    %title Spark API Documentation
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %link{ rel: 'stylesheet', href: 'assets/api.css' }
    %link{ rel: 'stylesheet', href: 'assets/highlight-default.css' }
    %script{ src: '//use.typekit.net/mov0hpt.js' }
    %script try{Typekit.load();}catch(e){}
    %script{ src: 'assets/highlight.pack.js' }
    %script hljs.initHighlightingOnLoad();
  %body
    %header
      %img{ src: 'assets/spark-horizontal.png', alt: 'Spark' }
      -#
        %nav
          %ul
            %li
              %a{ href: '#intro' } Introduction
    .container
      %article
        %table
          %tbody
            %tr#intro
              %td
                %h1 Introduction
                %p
                  The Spark API is currently in
                  rapid development—things are changing fast!
                  Responses are currently dummy data.
                %ul
                  %li
                    HTTP GET requests retrieve data from a device
                    without changing its state.
                  %li
                    HTTP POST requests send data to a device,
                    usually changing its state in the process.
                %p
                  If you already know the other common HTTP verbs,
                  then you know what they do, if not, don't worry,
                  you'll understand in a minute—just keep reading.
            %tr
              %td
                %h1 Response Format
            %tr
              %td
                %p
                  Server responses are in JSON and always contain the key "ok".
                  The value of the "ok" key is boolean: true or false.
              %td
                %pre
                  %code
                    { "ok": true }
            %tr
              %td
                %p
                  If ok is false, there will also be an "errors" key.
                  The value of "errors" is an array of error messages.
              %td
                %pre
                  %code
                    :preserve
                      {
                        "ok": false,
                        "errors": [
                          "Bad pin: lambswool",
                          "Bad value: palm tree"
                        ]
                      }
            %tr
              %td
                %p
                  You may send request data either web form encoded or in JSON.
                  With curl's -d flag, the default encoding is
                  application/x-www-form-urlencoded,
                  but some data structures are hard to represent that way.
                %p
                  If you are sending arrays or deeply nested structures
                  and get frustrated with web form encoding
                  (or if, like us, you prefer the robustness and clarity of JSON)
                  just set the Content-Type header for your request to
                  application/json.
              %td
                %pre
                  %code.bash
                    :preserve
                      # web form encoded, short &amp; sweet
                      curl https://api.sprk.io/v1/devices/elroy -d message=winning

                      # same thing, but sending JSON
                      curl https://api.sprk.io/v1/devices/elroy \
                           -d '{"message":"winning"}'           \
                           -H 'Content-Type: application/json'
            %tr
              %td
                %h1 Authentication
                %p
                  Right now there is no need to authenticate.
                  Play with our dummy data unburdened by your weighty indentity!
            %tr
              %td
                %h1 Set Device Pins High/Low
                %h2 POST /v1/devices/:id (pin, level)
            %tr
              %td
                %p
                  The simplest thing you can do with a Spark Core
                  is to set one of the exposed pins high or low.
                  This is like
                  %code digitalWrite()
                  in
                  %a{ href: 'http://arduino.cc/en/Reference/DigitalWrite' } Arduino
                  or
                  %a{ href: 'http://wiring.org.co/reference/digitalWrite_.html' } Wiring
                  (the framework Arduino was built on).
                %p
                  There are 16 GPIO pins exposed on a Spark Core,
                  8 digital (D0–D7) and 8 analog (A0–A7).
                  This call may be performed on any of these 16 pins.
                  The level argument must be either HIGH or LOW.
              %td
                %pre
                  %code.bash
                    curl https://api.sprk.io/v1/devices/elroy -d pin=D0 -d level=HIGH
            %tr
              %td
                %h1 Custom Messages
                %h2 POST /v1/devices/:id (message)
            %tr
              %td
                %p
                  If you implement a function called
                  %code userFunction()
                  in your embedded code, you can trigger it from the API
                  by including the "message" key in your POST data.
                  The value of the "message" key will be passed as the string
                  argument to your function.
                %p
                  Keep messages short.
                  The server will reject them if they're much longer than a tweet.
                %p
                  %em
                    The syntax for custom messages will change slightly
                    to be even easier very soon!
              %td
                %pre
                  %code.bash
                    :preserve
                      curl https://api.sprk.io/v1/devices/elroy \
                           -d "message=set_color #1180FF"
            %tr
              %td
                %h1 Server-Sent Events (SSEs)
                %h2 GET /v1/devices/:id/events
            %tr
              %td
                %p
                  Imagine a connected toy.
                  We'll call it: box.
                  This toy has sensors, like an accelerometer,
                  so it knows which side is facing up.
                %p
                  The sides are labeled 1, 2, 3, 4, 5, 6.
                  When writing an awesome app for parents to interact with
                  kids from a distance while the kids are playing with the box,
                  the parents want to know which side is up at all times.
                %p
                  This API call would open a stream of
                  <a href="https://developer.mozilla.org/en-US/docs/Server-sent_events/Using_server-sent_events">server-sent events</a>.
              %td
                %pre
                  %code.bash
                    curl https://api.sprk.io/v1/devices/elroy/events
            %tr
              %td
                %h1 Callbacks to Your Server
                %h2 POST /v1/devices/:id (callback)
            %tr
              %td
                one time
              %td
                %pre
                  %code
                    :preserve
                      {
                        "callback" : "pre-registered_callback_name"
                      }
            %tr
              %td
                periodic
              %td
                %pre
                  %code
                    :preserve
                      {
                        "callback" : "pre-registered_callback_name",
                        "period"   : 1
                        // more info either provided or in response
                      }
            %tr
              %td
                %h1 Groups
                %p
                  Every example above is for a single device, but
                  all the same calls apply to groups.
                  You create, read, update, and delete (CRUD) groups
                  in the standard RESTful way with the HTTP verbs
                  POST, GET, PUT, and DELETE.
            %tr
              %td
                %p
                  Create a group of two devices.
                  Remember, by using curl's -d flag,
                  you're automatically sending a POST request,
                  though if you want to include -X POST it works fine.
              %td
                %pre
                  %code.bash
                    :preserve
                      curl https://api.sprk.io/v1/groups       \
                           -H 'Content-Type: application/json' \
                           -d '{
                                 "name    : "the_boyz",
                                 "devices : ["elroy", "george"]
                               }'
            %tr
              %td
                %p List the devices in a group.
              %td
                %pre
                  %code.bash
                    curl https://api.sprk.io/v1/groups/the_boyz
            %tr
              %td
                %p Change which devices are in a group.
              %td
                %pre
                  %code.bash
                    :preserve
                      curl https://api.sprk.io/v1/groups/the_boyz \
                           -H 'Content-Type: application/json'    \
                           -X PUT                                 \
                           -d '{ "devices": ["elroy", "george", "astro"] }'
            %tr
              %td
                %p Delete a group.
              %td
                %pre
                  %code.bash
                    curl https://api.sprk.io/v1/groups/the_boyz -X DELETE

    %footer
      %img{ src: 'assets/spark-powered-mark.png' }
